#image {
    margin-right: 20px;
}

.sidebar {
    width: 30%;
    margin: 10px 0 10px 0;
    border: 10px 0 10px 0;
    margin-right: 10px;
    background-color: blanchedalmond;
    
}

.content{
    width: 70%;
    margin: 10px 0 10px 0;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: sans-serif;
}

.item {
    font-family: sans-serif;
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
    border-right: solid 2px #cccccc;
    background-color: #eeeeee;
}